---
layout: home_page
title: Paul M Furley, Product Engineer / Developer
redirect_from: "/contact/"
permalink: /
---

<div class="widewrapper main">

    <div class="container about">

      <img src="/img/paul-m-furley-backend-developer.png" alt="Paul M Furley" class="about-portrait img-responsive">
      <h1>I'm <span class="about-bold">Paul</span>, a <span class="about-bold">Product Engineer</span></h1>

      <p class="about-medium">I love building things with users</p>

      <p class="about-small">I care about human rights, internet freedom, equality.</p>

    </div>


    <section class="container">
      <h2>I work best in small autonomous teams</h2>

      <p>I've built software for <a href="/arduino-isnt-just-for-hackers/">printing machines</a> and <b>high-speed
      network devices</b>, scraped and analysed data for
      <b>ScraperWiki</b>, <b>Shelter</b> and <b>Global Witness</b>, built
      backends for <b>Government Digital Service</b>, created the whole stack for <b>Sea Level Research</b> and kicked off the
      <a href="http://transformation.blog.nhs.uk/">NHS Transformation.</a></p>


      <p>I'm currently tech lead for <a href="http://coop.co.uk/dpr">Digital Product Research</a> at Co-op and technical advisor at <a href="http://www.projectsbyif.com">Projects By If.</a></p>

      <p>I have a First in Engineering (Electronics) from Durham University. My <a href="https://uk.linkedin.com/in/paulfurley">CV is on LinkedIn.</a></p>

    </section>

    <section class="container">
      <h2>I enjoy sharing through public speaking</h2>

        <p>
        I've talked publicly about <b>Information Hiding</b> at Breakerfaire,
        <b>Building With Straw</b> at Barcamp, <a href="https://www.meetup.com/People-before-pixels/events/226879464/">Developers and User Research
            at People Before Pixels</a>, <b>Modernising the Shipping Industry</b> at a
        mySociety Meetup and an <b>Introduction to Public Key Cryptography</b> at
        Liverpool's Bitcoin and Cryptography meetup.</p>

        <p>I enjoy communicating <b>complex ideas</b> to non-technical audiences.</p>
    </section>

    <section class="container">
      <h2>I wrote these recently</h2>
      <ul>
        {% for post in site.posts limit:3 %}
        <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <div class="container">

      <h2>I built these a while ago</h2>

        <div class="row">

          <div class="col-md-4 col-sm-6">
            <article class="blog-teaser">
              <header>
                <a href="#">
                <img src="/img/pilot-planner-thumbnail.png" alt="TODO">
                <h3>Pilot Planner</h3>
              </a>
              </header>

              <div class="body">
                A mobile-first web app built for the marine industry using
                React and Django Rest Framework.
              </div>

            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article class="blog-teaser">
              <header>
                <a href="#">
                  <img src="/img/picocolour-thumbnail.jpg" alt="TODO">
                  <h3>PicoColour Software</h3>
                </a>
              </header>

              <div class="body">
                The entire software stack for a digital printing machine,
                using Python, PyQt and Arduino.
              </div>

            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article class="blog-teaser">
              <header>
                <a href="#">
                  <img src="/img/festival-weather-thumbnail.png" alt="TODO">
                  <h3>Festival Weather</h3>
                </a>
              </header>

              <div class="body">
                A hack-day project to deliver daily weather reports by SMS.
                Built with Python and Twilio.
              </div>

            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article class="blog-teaser">
              <header>
                <a href="#">
                  <img src="/img/open-wifi-pi-thumbnail.png" alt="TODO">
                  <h3>Open WiFi Pi</h3>
                </a>
              </header>

              <div class="body">
                A custom Linux build providing an isolated wireless
                guest network. Configured with Ansible.
              </div>

            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article class="blog-teaser">
              <header>
                <a href="#">
                  <img src="/img/twitter-train-times-thumbnail.png" alt="TODO">
                  <h3>Twitter Trains</h3>
                </a>
              </header>

              <div class="body">
                A Twitter bot to find your next train and platform
                number. Built with Python.
              </div>

            </article>
          </div>

          <div class="col-md-4 col-sm-6">
            <article class="blog-teaser">
              <header>
                <a href="http://www.thinkingliverpool.com">
                  <img src="/img/thinking-liverpool-thumbnail.png" alt="TODO">
                  <h3>Thinking Liverpool</h3>
                </a>
              </header>

              <div class="body">
                An event listing of talks and debates in Liverpool. Curated
                by me, built with Jinja from iCal.
              </div>

            </article>
          </div>
        </div>

    </div>

    <div class="container">
      <h2>I've got a few favourites</h2>
        <div class="row">
            {% for post in site.posts %}
            {% if post.is_highlighted %}
            <div class="col-md-6 col-sm-6">
              <article class="blog-teaser">
                <header>
                  <a href="{{ post.url | prepend: site.baseurl }}">
                  <img src="{{ post.image |prepend: site.baseurl | prepend: "/img/" }}" alt="TODO">
                  <h3>{{ post.snappy_title }}</h3>
                </a>
                  <!--<span class="meta">{{ post.date | date_to_long_string }}</span>-->
                </header>

                <!--<div class="body">
                  Lorum ipsum blah...
                </div>-->

                <div class="clearfix">
                  <!--<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-tales-one">Read more</a> -->
                </div>
              </article>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">

      <h2>I've written a few more things</h2>
      <ul>
          {% for post in site.posts %}
          <li>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 tales-superblock">
                <h2>Social</h2>
                {% include social_buttons.html %}
                <hr>
            </div>
        </div>
    </div>
</div>
