  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-half">

          <h3> <i class="fa fa-star"></i> Highlights</h3>
          <ul class="tales-list">
            <li><a href="{{ site.baseurl }}{% link keymanager-pgp-key-manager-for-dev-teams.markdown %}">Expirybot for Teams: monitor your organisation's PGP keys</a></li>
            {% for post in site.posts %}
            {% if post.is_highlighted %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.snappy_title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="col-half">
          <a id="contact"></a>
          <h3> <i class="fa fa-envelope"></i> Contact Me</h3>

          <p>Feedback, freelancing or anything else - drop me a line:</p>

	  <p>Email: <a href="mailto:paul@paulfurley.com">paul@paulfurley.com</a></p>
	  <p>PGP: <a href="/pgp">A999 B749 8D1A 8DC4 73E5  3C92 309F 635D AD1B 5517</a></p>

          <a href="http://www.drupalhandboek.nl/moralecompensation.php?s=937"><div style="height: 0px; width: 0px;"></div></a>


        </div>
      </div>
    </div>
  </footer>
