{% include page_start.html %}

<body>
{% include header_link.html %}

<article class="blog-post container">

<h1>{{ page.title }}</h1>

{{ content }}

</article>


<div class="container">
{% include social_buttons.html %}
</div>

{% if site.categories[page.category].size > 1 %}
  <aside class="container related-blog-posts">
    <h3>Related</h3>
    <ul class="tales-list">
        {% for related_post in site.categories[page.category] reversed %}
        {% if related_post.title != page.title %}
        <li><a href="{{ related_post.url | prepend: site.baseurl }}">
          {{ related_post.title }}
        </a></li>
        {% endif %}
        {% endfor %}
    </ul>
  </aside>
{% endif %}

{% include footer.html %}
</body<

{% include page_end.html %}
